    <div class="wrapper">
        <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
            <div class="topnav">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand title" href="WardrobeAssistant.html">Wardrobe Assistant</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#/WardrobeAssistant" class="animate">Home</a></li>
                    <li class=""><a href="#/Registration" class="animate">About Us</a></li>
                    <li class=""><a href="#/Login" class="animate">Register</a></li>
                    <li><a href="#/Login"><i class="fa fa-sign-in fa-1"></i>Login</a> </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <div class="container">
            <div class="row" style="margin-top: 60px;">
                <div class="col-md-4 col-md-offset-4">
                    <form id="loginform" class="form-signin">
                    <fieldset>
					    <div ng-if="invalidLogin" >
						   <h3 class="sign-up-title" style="color: dimgray; text-align: center">
                            Please enter valid Email/Username & Password.</h3>
							</br>
                        </div>
                        <h3 class="sign-up-title" style="color: dimgray; text-align: center">
                            Welcome back! Please sign in</h3>
                        <hr class="colorgraph">
                        <input class="form-control" placeholder="Email or Username" id="userId" ng-model= "userName" type="text">
                        <br />
                        <input class="form-control" placeholder="Password" id="password" type="password"  ng-model= "passWord" >
                        <button type="button" class="btn-link pull-right" data-toggle="modal" data-target="#ForgotPassword">
                            Forgot password?
                        </button>
                        <button class="btn btn-lg btn-primary btn-block" ng-click="login()">Login</button>
                        <br />

                    </fieldset>
                    </form>
                </div>
            </div>
            <div class="modal fade bs-example-modal-md" id="ForgotPassword" tabindex="-1" role="dialog"
                aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="H1">
                                Forgot Password</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row form-horizontal form-group">
                                <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
                                    <label class="control-label formlable">
                                        Username*</label>
                                </div>
                                <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10">
                                    <input class="form-control" placeholder="Email or Username" id="fpUsername" type="text">
                                </div>
                            </div>
                            <div class="center-block" style="text-align: center;">
                                <button type="button" class="btn btn-primary" onclick="ForgotPassword();">
                                    Submit</button>
                                <button type="button" class="btn btn-warning" data-dismiss="modal">
                                    Close</button>
                            </div>
                        </div>
                        <div class="modal-footer" style="text-align: center;">
                            <div class="ValidateForgotPassword alert alert-warning hidden">
                                Please enter valid Email or Username.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

